.theme-icon {
  width: 100%;
}

/* Menu inner padding */
.menu-inner {
  padding: 70px 60px 0px;
  @media (max-width: 1024px) { padding: 50px 40px; }
  @media (max-width: 767px)  { padding: 30px 20px; }
}

/* Section adjustments */
.section-about { margin-top: 40px; text-align: left; }
.section { margin-bottom: 40px; }

/* Project cards layout */
.project-card {
  display: flex;
  margin-bottom: 80px;
  flex-wrap: wrap;

  .project-desc {
    flex: 1;
    padding: 10px;

    .project-title { font-size: 18px;font-weight: 500;margin-top: 25px;margin-bottom: 10px; }
    .project-text  { font-size: 14px;font-weight: 300 }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    .project-desc { width: 100%; }
  }
}
